<!doctype html>
<html>
    <head>
        <title>Virendinnen</title>
    </head>
    <body>
        <ul>
            <li>An</li>
            <li>Els</li>
            <li>Inge</li>
        </ul>
    </body>
</html>
